<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Upload d'Images</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
  {% block title %}

  {% endblock %}
  {% block content%}{%endblock%}
</body>
</html>
